
.inter-font{
  font-family: "Inter", sans-serif;
}

                                               /* Shared Style */
.btn{
    color: #FFFFFF;
}

                                             /* Navbar Style */
nav .nav-container{
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;

}
nav .logo h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
}
nav .wave{
    /* color: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8) */
    font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu a{
    padding-right: 32px;
    text-decoration: none;
    color: #FFFFFF;
}
nav button{
    width: 135px;
    height: 45px;
    margin-right: 70px;
    display: flex;
    gap: 5px;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    border-radius: 10000px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}


                                   /* Style For about section */
#about{
    width: 100%;
    max-width: 1160px;
}
.about-container{
    width: 100%;
    max-width: 1160px;
    background-color: #1A0B2E;
    padding-top: 50px;
}
.text-content{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-content h2{
    margin-top: 3.2rem;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.text-content p{
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #FFFFFF;
    text-align: center;
    text-wrap: balance;
}
.last-line{
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.stat-container{
    width: 100%;
    max-width: 1160px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}
.stat{
    width: 240px;
    height: 95px;
    text-align: center;
}
.stat h2{
    color: #00FF88;
    margin: 0rem;
    font-size: 3rem;
    font-weight: bold;
}
.stat h5{
    color: #FFFFFF;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
}


                                       /* Style For card Section */
#card-section{
    width: 100%;
    max-width: 1160px;
}
   
.card-container{
    width: 100%;
    max-width: 1160px;
    background-color: #230E3D;
}
.card-container h2{
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 0rem;
}

.all-cards{
    display: grid;
    gap: 1.5rem;
    padding: 2rem 3rem 6rem 3rem ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
}
.all-cards img{
    width: 100%;
    max-width: 50px;
    height: 50px;
}
.all-cards h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}
.all-cards p{
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}
.card{
   padding: 2rem 2rem 1rem 2rem;
   background-color: #351165;
   border-radius: 40px;
   box-shadow: 0px 4px 4px 0px #00000025;
   text-wrap: balance;
}
.num1{
    padding-top: 7rem;
    grid-column: span 1;
    grid-row: span 2;
   
}
.num2{
    grid-column: span 2;
    grid-row: span 1;
   
}
.num3{
    grid-column: span 2;
    grid-row: span 1;
   
}
.num4{
    grid-column: span 2;
    grid-row: span 1;
    
}
.num5{
    grid-column: span 1;
    grid-row: span 1;
  
}

/* Style for feature section */

#feature{
width: 100%;
max-width: 1160px;
background-color: #1A0B2E;
}
#feature h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0rem;
    padding-top: 3rem;
}
.feature-card-container{
    width: 100%;
    max-width: 1160px;
    /* padding: 2rem 3rem 3rem 3rem; */
    display: flex;
    justify-content: center;
    gap: 30px;
}

.video-card{
    width: 280px;
    height: 360px;
    background-color: #250D44;
    margin-bottom: 3rem;

}
.video-card iframe{
    width: 280px;
    height: 160px;
    
}
.card-content{
padding: 0rem .5rem .5rem .5rem;
}
.video-card h3{
    margin-top: 0.5rem;
    margin-bottom: .75rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;

}
.video-card p{
    margin-top: .5rem;
    font-size: 1rem;
    /* line-height: 1.5rem; */
    margin-bottom: 0rem;
    text-wrap: balance;
    color: #FFFFFF;
}
.time{
    display: flex;
    justify-content: start;
    align-items:center;
    gap: .5rem;
}
.time img{
    width: 1rem;
    height: 1rem;
}
.time h4{
    color: #00FF88;
}

                                           /* Style For host Container */
.host{
    width: 100%;
    max-width: 1160px;
}
.host h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0rem;
    padding-top: 3rem;
}
.host-container{
    display: flex;
    gap: 2rem;
    background-color: #351165;
}
.host-photo{
    width: 200px;
    height: 200px;
    padding: 40px 0px 40px 80px;
}

.host-info h3{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    padding-left: 2rem;
}
.host-info p{
    margin-top: .5rem;
    font-size: 1rem;
    margin-bottom: 0rem;
    text-wrap: balance;
    color: #FFFFFF;
    padding-left: 2rem;
}
.icon img{
    margin-top: 1.5rem;
    width: 1rem;
    height: 1rem;
    padding-left: 2rem;
    justify-content: space-around;
}

/* Style For footer Section */

.footer-container{
    width: 100%;
    max-width: 1160px;
    background-image: url(images/footer-bg.png);
    height: 400px;
}
.footer-container h2{
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 0rem;
    padding-top: 6rem;
}
.footer-container .wave{
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.icon img{
    width: 1rem;
    height: 1rem;
    padding-right: 0.5rem;
}
.social{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.name h5{
    color: #FFFFFF;
    font-size: 1rem;

}

.copyrights{
    color: #FAFAFA;
    text-align: center;
    margin-top: 2rem;
    
}

